In [1]:
import yfinance as yf

In [2]:
tiker = 'MSFT' #symbol
msft = yf.Ticker(tiker)
msft

yfinance.Ticker object <MSFT>

In [3]:
#프롬프팅 결과 주가정보서비스 추천 정보
basic_info = { 
'회사명' : msft.info.get('longName'),
'산업' : msft.info.get('industry'),
'부문' : msft.info.get('sector'),
'시가총액' : msft.info.get('marketCap'),
'총 발행주식수' : msft.info.get('shareOutstanding'),
'본사 위치' : msft.info.get('country'),
'CEO' : msft.info.get('ceo'),
'웹사이트' : msft.info.get('website')
}

In [ ]:
#기본 정보 출력
for key, value in basic_info.items():
    print(f'{key} : {value}')

회사명 : Microsoft Corporation
산업 : Software - Infrastructure
부문 : Technology
시가총액 : 3748101619712
총 발행주식수 : None
본사 위치 : United States
CEO : None
웹사이트 : https://www.microsoft.com

In [6]:
#재무재표 정보 가져오기
income_statement = msft.financials #손익계산서
balance_statement = msft.balance_sheet #대차대조표
cashflow_statement = msft.cashflow #현금흐름표

In [8]:
income_statement.head(3)

,2025-06-30,2024-06-30,2023-06-30,2022-06-30
Tax Effect Of Unusual Items,-7.721784e+07,-1.000900e+08,-2.850000e+06,4.375400e+07
Tax Rate For Calcs,1.762960e-01,1.823130e-01,1.900000e-01,1.310000e-01
Normalized EBITDA,1.606030e+11,1.335580e+11,1.051550e+11,9.990500e+10

In [9]:
balance_statement.head(3)

,2025-06-30,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Ordinary Shares Number,7.434000e+09,7.434139e+09,7.432000e+09,7.464000e+09,NaN
Share Issued,7.434000e+09,7.434139e+09,7.432000e+09,7.464000e+09,NaN
Net Debt,1.290900e+10,3.331500e+10,1.253300e+10,3.585000e+10,NaN

In [10]:
cashflow_statement.head(3)

,2025-06-30,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Free Cash Flow,7.161100e+10,7.407100e+10,5.947500e+10,6.514900e+10,NaN
Repurchase Of Capital Stock,-1.842000e+10,-1.725400e+10,-2.224500e+10,-3.269600e+10,NaN
Repayment Of Debt,-3.216000e+09,-2.907000e+10,-2.750000e+09,-9.023000e+09,NaN